
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #e0f7fa, #ffffff);
  margin: 0;
  padding: 0;
  text-align: center;
}
.welcome {
  padding: 50px;
}
img {
  width: 180px;
}
.login-container {
  margin-top: 100px;
}
input, button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
}
